body {
   font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    width: 1310px;
    margin: 0 auto;
}

nav h2 {
    font-size: 40px;
    color: #007D7B;
    float: left;
    margin-left: 35px;
}

nav ul {
   float: right;
   margin-top: 50px;
}
nav li {
    font-size: 20px;
    padding-right: 20px;
   display: inline-block;
}
 nav a {
    color: #FFFFFF;
    text-decoration: none;
 }

 a:hover {
   background-color:#007D7B;
   padding: 10px;
 }

 #top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #007D7B;
    padding: 7px;
    text-align: center;
    padding: 2px 20px;
 }

 #top:hover {
   background-color: #FFFFFF;
   color:#007D7B;
 }

 main {
    margin: 0 auto;
    background-color: #FFFFFF;
    clear: both;
 }

 .about {
    color: #000000;
    text-align: right;
    float: right;
    padding-right: 20px;
    font-size: 20px;
 }

 .about-words{
    float: right;
    width: 420px;
 }

 .about h2, .gallery h2 {
    font-size: 40px;
 }
 .about img {
    width: 850px;
    height: 420px;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
 }

 .gallery {
    clear: both;
    padding-left: 20px;
    font-size: 20px;
 }

 

 figure {
    display: inline-block;
    margin: 5px;
    position: relative;
 }

 .black-upperleft {
   font-size: 16px;
   color:#000000;
   position: absolute;
   top: 5px;
   left: 5px;  
 }

 .white-upperleft {
   font-size: 16px;
   color: #FFFFFF;
   position: absolute;
   top: 5px;
   left: 5px;

 }

 .white-bottomright {
   font-size: 16px;
   color: #FFFFFF;
   position: absolute;
   bottom: 5px;
   right: 5px;
 }

 .white-bottomleft {
   font-size: 16px;
   color: #FFFFFF;
   position: absolute;
   bottom: 5px;
   left: 5px;
 }

 .black-bottomleft {
   font-size: 16px;
   color: #000000;
   position: absolute;
   bottom: 5px;
   left: 5px;
 }

 .smallpics img {
    width: 420px;
    height: 210px;
    display: inline;
 }
 .tallpics img {
    width: 420px;
    height: 620px;
 }

form {
    color: #FFFFFF;
    display: block;
    text-align: center;
    position: relative;
    clear:left;
}

form h2 {
   font-size: 40px;
}

form p {
   font-size: 20px;
}

label {
   font-size: 16px;
   color:#FFFFFF;
}


input {
    width: 850px;
    color: #007D7B;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.formwrapper {
    padding-left: 215px;
    width: 850px;
}

input[placeholder] {
    color: #007D7B;
    font-size: 16px;
}

.form-name, .form-email, .form-message {
    margin-bottom: 15px;
    text-align: left;
}

[type="submit"] {
    background-color: #007D7B;
    color:#FFFFFF;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    margin-top: 10px;
}

small {
    font-size: 16px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    margin-top: 20px;
}